
@font-face {
    font-family: "iconfont";
    src: url('../iconfont.eot'); /* IE9*/
    src: url('../iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont.woff') format('woff'), /* chrome, firefox */
    url('../iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

/* General grid styles */
.iconfont-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.iconfont-ig-grid:before,
.iconfont-ig-grid:after {
	content: " ";
	display: table;
}

.iconfont-ig-grid:after {
	clear: both;
}

/* grid item */
.iconfont-ig-grid li {
	width: 33%;
	float: left;
	height: 420px;
	text-align: center;
	border-top: 1px solid #ddd;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.iconfont-ig-grid li:nth-child(-n+3){
	border-top: none;
}

.iconfont-ig-grid li:nth-child(3n-1),
.iconfont-ig-grid li:nth-child(3n-2) {
	box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.iconfont-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

.iconfont {
	padding: 30px 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.iconfont:before {
    font-family:"iconfont" !important;
    font-size: 14em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-hangpai:before { content: "\e60e"; }

.icon-hangpai1:before { content: "\e60f"; }

.icon-hangpai2:before { content: "\e610"; }

.icon-hangpai3:before { content: "\e611"; }

.icon-hangpai4:before { content: "\e612"; }

.icon-hangpai5:before { content: "\e613"; }

.icon-hangpai6:before { content: "\e614"; }

.icon-hangpai7:before { content: "\e615"; }

.icon-hangpai8:before { content: "\e616"; }

.icon-hangpai9:before { content: "\e617"; }

.icon-hangpai10:before { content: "\e618"; }

.icon-hangpai11:before { content: "\e619"; }

.icon-hangpai12:before { content: "\e61a"; }

.icon-hangpai13:before { content: "\e61b"; }

.icon-hangpai14:before { content: "\e61c"; }

.icon-hangpai15:before { content: "\e61d"; }

.icon-hangpai16:before { content: "\e61e"; }

.icon-hangpai17:before { content: "\e61f"; }

.icon-hangpai18:before { content: "\e620"; }

.icon-hangpai19:before { content: "\e621"; }

/* title element */
.iconfont-ig-grid .iconfont-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 2em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.iconfont-ig-grid .iconfont-ig-title:before {
	content: '';
	position: absolute;
	background: #47a3da;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.iconfont-ig-grid .iconfont-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.iconfont-ig-grid li:hover .iconfont-ig-category,
.touch .iconfont-ig-grid li .iconfont-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.iconfont-ig-grid li > a:hover {
	background: #47a3da;
}

.iconfont-ig-grid li > a:hover .iconfont-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.iconfont-ig-grid li > a:hover .iconfont-ig-icon:before,
.iconfont-ig-grid li > a:hover .iconfont-ig-title {
	color: #fff;
}

.iconfont-ig-grid li > a:hover .iconfont-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.iconfont-ig-grid li > a:hover .iconfont-ig-title:before {
	background: #fff;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.iconfont-ig-grid li {
		width: 50%;
	}

	/* reset the grid lines */
	.iconfont-ig-grid li:nth-child(-n+3){
		border-top: 1px solid #ddd;
	}

	.iconfont-ig-grid li:nth-child(3n-1),
	.iconfont-ig-grid li:nth-child(3n-2) {
		box-shadow: none;
	}

	.iconfont-ig-grid li:nth-child(-n+2){
		border-top: none;
	}

	.iconfont-ig-grid li:nth-child(2n-1) {
		box-shadow: 1px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) {
	.iconfont-ig-grid li {
		width: 100%;
	}

	.iconfont-ig-grid li:nth-child(-n+2){
		border-top: 1px solid #ddd;
	}

	.iconfont-ig-grid li:nth-child(2n-1) {
		box-shadow: none
	}

	.iconfont-ig-grid li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) {
	.iconfont-ig-grid {
		font-size: 80%;
	}

	.iconfont-ig-grid .iconfont-ig-category {
		margin-top: 20px;
	}
}